<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon aria-hidden="true" class="sun" name="sunny-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="tab2">
      <ion-icon aria-hidden="true" class="water" name="water-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="tab1">
      <ion-icon aria-hidden="true" class="leaf" name="leaf-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
