<ion-header>
  <ion-toolbar style="display: flex;text-align: center;">
    <h3><ion-icon aria-hidden="true" class="leaf" name="leaf-outline"></ion-icon>Iplant</h3>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

</ion-content>
